@import "bootstrap/dist/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.App {
    * {
        font-family: "Quicksand", sans-serif;
    }
    h4 {
        font-weight: 600;
    }
    input {
        border-radius: 0.25rem;
        border-style: solid;
    }
    Button {
        height: 30px;
        width: 100%;
    }
    .taskRow {
        &:hover {
            background: #55c4ff3e;
        }
        transition: 0.3s ease;
		width: 100%;
		margin: 0;
    }
	.tasksListRow{
		max-height: 300px;
		width: 100%;
		overflow: auto;
	}
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6f6f6f;
}

// * {
//     // outline: 1px solid lightgrey;
// }
