@import "bootstrap/dist/css/bootstrap.min.css";

* {
    // outline: 1px solid lightgrey;
}
.App {
    // background: rgb(25, 31, 32);
    width: 200px;
    padding: 8px;
    .timerHeading {
        font-size: 24px;
        font-weight: 500;
    }
	.label{
		margin-bottom: 10px;
	}
}
