@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
    // outline: 1px solid lightgrey;
}
.App {
    // border: 1px solid blue;
    * {
        font-family: "Quicksand", sans-serif;
    }

    h4 {
        font-weight: 600;
    }

    input, textarea {
        border: none;
        &:focus {
            outline: none;
        }
    }

    Button {
        height: 30px;
        width: 100%;
    }

    .dropdown {
        width: 100%;
        button {
            padding: 0;
        }
        .dropdown-toggle {
            border-radius: 4px;
            &::after {
                display: none;
            }
        }
    }

    .taskRow {
        transition: 0.3s ease;
        width: 100%;
        margin: 0;
        .task {
            font-size: 15px;
        }
        &:hover {
            background: #55c4ff3e;
        }
    }

    .tasksListRow {
        width: 100%;
        overflow: auto;
        textarea {
            width: 100%;
            border: none;
            resize: none;
        }
        textarea:focus {
            border: none;
            outline-width: 0;
        }
    }
}
.subTasksSection {
    position: relative;
}

// .subTasksSection::before {
// 	content: "";
//     position: absolute;
//     background: rgb(17, 0, 255);
//     left: 9px;
//     top: 16px;
//     width: 12px;
//     height: 1px;
// }

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6f6f6f;
}
